* {
    font-family: "Google Sans Flex", Rubik, Geist, sans-serif;
}

#waybar {
    background-color: #16151A;
    color: #ffffff;
}

tooltip {
    background-color: #201f21;
    border: 1px solid #29282a;
    border-radius: 10px;
}

tooltip label {
    color: #c9c5c7;
    font-size: 14px;
}

@import "styles/modules-right.css";
@import "styles/modules-center.css";
@import "styles/modules-left.css";




