#workspaces {
    padding: 0 6px;
    margin: 5px 0;
}

#workspaces button {
    border-radius: 50%;
    padding: 0 5px;
    color: #514d50;
    transition: background-color .2s;
}

#workspaces button.focused, #workspaces button.active {
    background-color: #cbc3d5;
    color: #322e3c;
}

#workspaces button:hover {
    box-shadow: none;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
    color: #510706;
    font-weight: bold;
}
